<h2>Pokemon</h2>
<div>
    <form action="/pokemon" method="GET">
        <input type="text" name="name">
        <button type="submit">Search</button>
    </form>
    <div class="pokemon-grid">
        <% pokemon.forEach(p => { %>
                <div>
                    <img src="<%= p['sprites']['front_default'] %>">
                    <p><%= p['name'] %></p>
                </div>               
        <% }) %>
    </div>        
</div>