<h2>Pokemon</h2>
<div>
    <form action="/pokemon" method="GET">
        <input type="text" name="name">
        <button type="submit">Search</button>
        <select name="generation">
            <option value="1">Kanto</option>
            <option value="2">Johto</option>
            <option value="3">Hoenn</option>
            <option value="4">Sinnoh</option>
            <option value="5">Unova</option>
            <option value="6">Kalos</option>
            <option value="7">Alola</option>
            <option value="8">Galar</option>
        </select>
    </form>
    <div class="pokemon-grid">
        <% pokemon.forEach(p => { %>
                <div>
                    <img src="<%= p['sprites']['front_default'] %>">
                    <p><%= p['name'] %></p>
                </div>               
        <% }) %>
    </div>        
</div>