<header>
    <nav class="header-nav">
        <a class="header-title" href="/pokemon">Pokemon</a>
        <ul>
            <li class="header-link"><a href="/authors">Sign up</a></li>
            <li class="header-link"><a href="/authors/new">Log in</a></li>
        </ul>
    </nav>

</header>